@import "pure.css";
@import "ember.css";
@import "grid.css";
@import "nav.css";
:root {
  --main-bg-color: rgb(221, 221, 221);
  --main-fg-color: rgb(44, 87, 103);
  --main-highlight-color: rgb(149, 191, 207);
}

html {
  font-family: sans-serif;
}

body {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
}
